.DS_Store
.env
.env.*
!.env.example
.tmp/
node_modules/
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

/.vscode/*
!/.vscode/settings.json
!/.vscode/tasks.json
!/.vscode/launch.json
!/.vscode/extensions.json
/build
/.svelte-kit
/package
