<!DOCTYPE html>
<html lang="" th:replace="~{fragments/layout :: layout(#{pages.accounts.title}, ~{::#content})}" xmlns:th="http://www.thymeleaf.org">
<body>
  <div id="content">
    <article th:each="account : ${accounts}">
      <details>
        <summary th:text="#{|common.accounts.${account.code}.name|}">
          Account Name
        </summary>
        <p th:each="subaccount : ${account.subaccounts}" th:text="${subaccount.name}">
          Subaccount
        </p>
      </details>
    </article>
  </div>
</body>
</html>
