<!DOCTYPE html>
<html lang="" th:replace="~{fragments/layout :: layout(#{pages.transactions.title}, ~{::#content})}"
      xmlns:th="http://www.thymeleaf.org">
<body>
<main>
    <div id="content">
        <table>
            <thead>
            <tr>
                <th>Header</th>
                <th>Header</th>
                <th>Header</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
            </tr>
            <tr>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
            </tr>
            <tr>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th>Footer</th>
                <th>Footer</th>
                <th>Footer</th>
            </tr>
            </tfoot>
        </table>
    </div>
</main>
</body>
</html>
